a {
  color: darkred;
}

h1 {
  background: url(formacao_slide1.png);
  background-size: 200px 200px;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: top left; 
  padding: 60px 0 80px 0;
  margin: -20px -100px -50px -100px;
  text-align: center;
}

.remark-slide-number {
  background: url(formacao_slide2.png);
  background-size: 106px 56px;
  background-repeat: no-repeat;
  background-position: bottom left;
  padding: 30px 30px 60px 30px;
  margin: 0 -15px 0 0;
}

/*.pull-left > p > img, .pull-right > p > img {
  height: 250px;
  margin-left: -30px;
}

.pull-left > p > img {
  margin-left: 310px;
}
*/
